testing-in-jest/my-project/node_modules/
testing-in-jest/fizzbuzz-project/node_modules/
search_function-project/node_modules/
shopping-basket/node_modules/
thermostat/node_modules/
calling-apis/node-modules/